.ViewersCard {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.16);
    background-image: url(../../../public/images/quotation-marks.png);
    background-position: center bottom;
    background-repeat: no-repeat;

    .top {
        img {
            border-radius: 100%;
            width: 90px;
            height: 90px;
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(1);
            -ms-filter: grayscale(1);
            -o-filter: grayscale(1);
            filter: grayscale(1);
        }

        .title {}
    }

    .subtitle {
        color: rgba(0, 0, 0, 0.5);
        font-size: 0.8rem;
    }
}