.panelContainer {
    background-color: #F1F2F7;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.backgroundPanel {
    position: relative;
    overflow-y: hidden;
    min-height: 500px;

    .side {
        max-width: 25%;
        flex: 0 0 25%;
        background-color: #fff;
        position: sticky;
        top: 0;
        height: 100%;
        box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.15);

        .userInfo {
            background-color: #30af5e;
            border-radius: 10px;
            position: relative;

            .icon {
                img {
                    width: 70px;
                }
            }

            .info {
                color: #fff;

                .name {
                    font-size: 1.1rem;
                }

                .number {
                    font-size: 0.8rem;
                }
            }

            .button {
                position: absolute;
                bottom: -15px;
                left: 0;

                li {

                    background-color: #fff;
                    font-size: 1rem;
                    border-radius: 100%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

                    a {
                        font-size: 1.2rem;
                        color: #263238;
                    }

                    &:hover {
                        a {
                            color: #30af5e;
                        }
                    }
                }

            }
        }

        .sideItems {

            li {
                margin-bottom: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: right;
                width: 100%;
                padding: 0.5rem 1rem;
                border-radius: 10px;

                a {
                    width: 100%;
                    color: #575757;
                    font-size: 0.9rem;
                }

                svg {
                    font-size: 1.5rem;
                    color: #30af5e;
                }

                &:hover {

                    background-color: #30af5e;


                    a {
                        color: #fff;
                    }

                    svg {
                        color: #fff;
                    }

                }
            }

            li.active {
                background-color: #30af5e;


                a {
                    color: #fff;
                }

                svg {
                    color: #fff;
                }
            }

        }
    }

    .panel {
        max-width: 75%;
        flex: 0 0 75%;
        padding: 40px 0;
        overflow-y: hidden;

        .bodyPanel {
            box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            background-color: #fff;
            //max-height: 470px;
            // overflow-y: scroll;
        }
    }
}

.responsiveSide {
    display: none;
}

$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .panelContainer {
        position: relative;
        background-color: #FFF;
    }

    .backgroundPanel {
        position: relative;
        min-height: auto;
        padding-bottom: 70px;

        .sideItems {
            display: none;
        }

        .side {
            max-width: 100%;
            flex: 0 0 100%;
            position: relative;
            top: auto;
            padding: 0 !important;
            margin-top: 20px;
            background-color: transparent;
            height: auto;
            box-shadow: none;

            .userInfo {
                margin-bottom: 0 !important;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }
        }

        .panel {
            max-width: 100%;
            flex: 0 0 100%;
            padding: 40px 0 0 !important;

            .bodyPanel {
                box-shadow: none;
                max-height: none;
                overflow: hidden;
            }
        }
    }

    .responsiveSide {
        background-color: #fff;
        z-index: 99;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -2px 18px rgba(0, 0, 0, 0.15);
        padding: 20px 0;

        .items {
            flex: 0 0 25%;
            max-width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            cursor: pointer;
        }

        .active {
            color: #30af5e;
        }
    }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .backgroundPanel {
        .side {
            margin-top: 0;
            .userInfo {
                border-radius: 0px;
            }
        }
    }
}