.backgroundPanel {
  position: relative;
  min-height: 500px;
}

.backgroundPanel .side {
  max-width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.backgroundPanel .side ul {
  padding: 1rem;
  padding-right: 2rem;
}

.backgroundPanel .side ul li {
  margin-bottom: 1rem;
}

.backgroundPanel .side ul li a {
  padding-bottom: 10px;
  color: #000;
}

.backgroundPanel .side ul li span {
  font-size: 1.5rem;
  color: #000;
}

.backgroundPanel .side ul li.active a {
  border-bottom: 1px solid #fff;
}

.backgroundPanel .panel {
  max-width: 80%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.backgroundPanel .panel .bodyPanel {
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
  border: none;
}
/*# sourceMappingURL=PanelTemplate.module.css.map */