.pagination {

    ul {
        margin-bottom: 0;

        li {
            width: 30px;
            margin: 0 5px;

            a {
                font-weight: bold;
                font-size: 1rem;
            }
        }


    }
}