.static {}

.staticCards {
    width: 100%;

    border: 3px solid;
    color: #fff;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);

    .staticTitles {
        font-size: 0.9rem;

    }

    .staticIcon {
        display: flex;
        font-size: 1.5rem;
    }

    .staticNumber {
        font-size: 1.1rem;
        font-weight: bold;
    }
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
   .row{
       display: none;
   }
}