.aboutDesc {
    padding: 1rem;
    position: relative;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
    border: none;

    .title {
        font-weight: bold;
        font-size: 2rem;display: block;
        text-align: center;
    }

    .subTitle {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
    }

    .cardDesc {
        width: 100%;
        margin-top: 1rem;
    }

    p {
        font-size: 0.85rem;
        line-height: 1.7;
        text-align: justify;
    }
}

.aboutDesc::after {
    content: "";
    width: 70px;
    height: 50px;
    z-index: 9;
    position: absolute;
    border-top: 4px solid #30af5e;
    border-right: 4px solid #30af5e;
    top: 5px;
    right: 5px;
}

.aboutDesc::before {
    content: "";
    width: 70px;
    height: 50px;
    z-index: 9;
    position: absolute;
    border-bottom: 4px solid #30af5e;
    border-left: 4px solid #30af5e;
    bottom: 5px;
    left: 5px;
}

.aboutCard {
    color: #fff;

    .title {
        font-size: 1.5rem;
    }

    p {
        text-align: justify;
        font-size: 0.85rem;
        line-height: 1.7;
    }

    li {
        font-size: 0.85rem;
        line-height: 1.7;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}

.ourTeam {
    .title {
        font-size: 2rem;
        text-align: center;
    }

    .ourTeamDesc {
        font-size: 0.85rem;
        line-height: 1.7;
    }
}

.galleryContainer {
    background-color: #f1f1f1;

    .title {
        font-size: 1.2rem;
        position: relative;
        padding-right: 35px;
    }

    .box {
        position: relative;
        overflow: hidden;
        padding: 0 !important;

        .desc {
            position: absolute;
            right: -40px;
            bottom: 20px;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9;
            color: #000;
            padding: 10px 50px 10px 10px;
            transform: skew(-10deg);
            transform-origin: top right;
            width: 260px;

            p {
                margin-bottom: 0px;
                font-size: 0.8rem;
            }
            .time{
                font-size: 0.7rem;
            }
        }



        .icon {
            position: absolute;
            left: 10px;
            bottom: 20px;
            z-index: 9;
            cursor: pointer;

            svg {
                background-color: rgba(48, 175, 94, 0.85);
                color: #fff;
                font-size: 3rem;
                border-radius: 100%;
                padding: 5px;
                box-shadow: 0px 0px 30px rgba(48, 175, 94, 0.54);
                -moz-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover {
            .desc {
                position: absolute;
                right: -30px;
            }

            .icon {
                svg {
                    background-color: rgba(255, 255, 255, 0.7);
                    color: rgba(48, 175, 94, 1);;
                }
            }

        }

        img {
            // filter: grayscale(1);
            height: 200px;
            width: 100%;
        }
    }
    .imageGallery{
        img{
            // border-radius: 15px;
            box-shadow: 0px 0px 10px rgba(170, 170, 170, 0.6);
            height: 200px;
            width: 100%;
        }
    }
}