.aboutDesc {
  padding: 1rem;
  position: relative;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
  border: none;
}

.aboutDesc .title {
  font-weight: bold;
  font-size: 2rem;
}

.aboutDesc .subTitle {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.aboutDesc .cardDesc {
  width: 100%;
  margin-top: 1rem;
}

.aboutDesc p {
  font-size: 0.85rem;
  line-height: 1.7;
  text-align: justify;
}

.aboutDesc::after {
  content: "";
  width: 70px;
  height: 50px;
  z-index: 9;
  position: absolute;
  border-top: 4px solid #30af5e;
  border-right: 4px solid #30af5e;
  top: 0px;
  right: 0px;
}

.aboutDesc::before {
  content: "";
  width: 70px;
  height: 50px;
  z-index: 9;
  position: absolute;
  border-bottom: 4px solid #30af5e;
  border-left: 4px solid #30af5e;
  bottom: 0px;
  left: 0px;
}

.certificate .title {
  font-weight: bold;
  font-size: 1.5rem;
}

.certificate .subTitle {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/*# sourceMappingURL=certificate.module.css.map */