.contactBox {
  background-image: url(../public/images/Subtraction.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
}

.contactBox:after {
  content: "";
  position: absolute;
  right: 45px;
  width: 100%;
  height: 100%;
  top: 60px;
  background-image: url(../public/images/phone-call.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.contactBox .contactInfo li p {
  margin-bottom: 0;
}

.contactBox .contactInfo li span {
  font-size: 0.85rem;
}
/*# sourceMappingURL=contact.module.css.map */