@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/iran-sans/IRANSans.ttf") format("truetype");
}

@font-face {
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/iran-yekan/iranyekanwebbold.eot");
  src: url("../../fonts/iran-yekan/iranyekanwebbold.eot") format("embedded-opentype"), url("../../fonts/iran-yekan/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/iran-yekan/iranyekanwebthin.eot");
  src: url("../../fonts/iran-yekan/iranyekanwebthin.eot") format("embedded-opentype"), url("../../fonts/iran-yekan/iranyekanwebthin.ttf") format("truetype");
}

@font-face {
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/iran-yekan/iranyekanweblight.eot");
  src: url("../../fonts/iran-yekan/iranyekanweblight.eot") format("embedded-opentype"), url("../../fonts/iran-yekan/iranyekanweblight.ttf") format("truetype");
}

@font-face {
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/iran-yekan/iranyekanwebregular.eot");
  src: url("../../fonts/iran-yekan/iranyekanwebregular.eot") format("embedded-opentype"), url("../../fonts/iran-yekan/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/iran-yekan/iranyekanwebmedium.eot");
  src: url("../../fonts/iran-yekan/iranyekanwebmedium.eot") format("embedded-opentype"), url("../../fonts/iran-yekan/iranyekanwebmedium.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IRANYekan";
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-size: cover;
}

html,
body {
  font-family: "IRANYekan";
  direction: rtl;
  text-align: right;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: 0.9rem;
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
}

.form-control:focus {
  border-color: #30af5e;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(48, 175, 94, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(48, 175, 94, 0.25);
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 2.25rem;
}

.m-10 {
  margin: 2.5rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.text-justify {
  text-align: justify;
}

.p-relative {
  position: relative;
}

.border-green {
  border-color: #30af5e !important;
}

.bg-green {
  background-color: #30af5e;
}

.text-green {
  color: #30af5e;
}

.p-wide {
  padding-right: 15px;
  padding-left: 15px;
}

.btn-outline-success {
  color: #fff;
  border-color: #30af5e;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #30af5e;
  border-color: #30af5e;
}

.text {
  font-size: 0.9rem;
  line-height: 1.7;
}
/*# sourceMappingURL=global.css.map */