.featuresBox {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  border: none;
}

.featuresBox .sm {
  font-size: 0.9rem;
}

.featuresBox .md {
  font-size: 1.1rem;
}

.featuresBox img {
  width: 50px;
  height: 50px;
}

.financialSteps img.pic {
  width: 218px;
  height: 235px;
}

.financialSteps img.step {
  height: 270px;
}

.mainTitle {
  position: relative;
  text-align: center;
}

.mainTitle .title {
  color: #575757;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.mainTitle .text {
  color: #797979;
  font-size: 0.85rem;
  line-height: 1.7;
}

.mainTitle::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 82px;
  background-image: url(../public/images/Repeat-Grid.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBanner {
  height: 550px;
  overflow: hidden;
}

.homeBanner .homeVideo {
  width: 100%;
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.homeBanner .homeTitle {
  position: absolute;
  top: 95px;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: #fff;
  z-index: 9;
}

.homeBanner .homeTitle .text {
  width: 450px;
  text-align: center;
  margin: 0 auto;
}

.homeBanner .homeTitle .text .small {
  font-size: 0.85rem;
}

.homeBanner .homeTitle .text button {
  font-size: 0.9rem;
}

.homeBanner .homeTitle .text button .icon {
  font-size: 1.5rem;
}

.homeBanner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.homeBanner::after {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  background-image: url(../public/images/homeBannerSvg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 108px;
  z-index: 9;
}
/*# sourceMappingURL=home.module.css.map */