.ticketChat {
    border: 1px solid #e4e4e4;
    margin-bottom: 20px;
}

.ticketChatHader {
    padding: 15px 0;
    border-bottom: 1px solid #e4e4e4;
    text-align: right;
    .title {
        font-size: 0.8rem;
    }

    .date {
        font-size: 0.8rem;
    }
}

.ticketChatBody {
    padding: 15px 0;
    
    .question {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 35px;

        .desc {
            width: 320px;
            padding: 15px;
            background-color: #e5fdf3;
            border-radius: 10px;
            font-size: 0.85rem;
            position: relative;

            .date {
                margin-bottom: 0;
                font-size: 0.75rem;
                color: #777;
                text-align: left;
            }

            &:before {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 27px 10px 0 10px;
                border-color: #e5fdf3 transparent transparent transparent;
                content: "";
                position: absolute;
                bottom: -19px;
                right: 15px;
                transform: rotate(-20deg);
            }
        }
    }

    .answer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 35px;

        .desc {
            width: 320px;
            text-align: right;
            padding: 15px;
            background-color: #ffe8e8;
            border-radius: 10px;
            font-size: 0.85rem;
            position: relative;

            .date {
                margin-bottom: 0;

                font-size: 0.75rem;
                color: #777;
                text-align: right;
            }

            &:before {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 27px 10px 0 10px;
                border-color: #ffe8e8 transparent transparent transparent;
                content: "";
                position: absolute;
                bottom: -19px;
                left: 15px;
                transform: rotate(20deg);
            }
        }
    }
}

.ticketChatFooter {
    padding: 15px 10px 0;
    border-top: 1px solid #e4e4e4;

    .inputs {
        width: calc(100% - 100px);
    }

    .uploadFile {
        width: 40px;
        flex: 0 0 40px;
        padding: 0;
    }

    .submit {
        width: 60px;
        flex: 0 0 60px;
        padding: 0;
        // transform: rotate(-40deg);
    }

}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .ticketChatHader {
        .date {
            text-align: right !important;
            margin-top: 15px;
        }
    }

    .ticketChatBody {

        max-height: none;
        overflow: hidden;
    }
}