.modal {

    .title {
        font-size: 1.2rem;
        color: #0fabc6;
        position: relative;
        padding-right: 25px;
        width: 100%;

        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 8px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            border: 3px solid #0fabc6;
        }

        &::after {
            content: "";
            position: absolute;
            top: 15px;
            width: 40%;
            height: 1px;
            background: #0fabc6;
            margin-right: 20px;
        }
    }

    .close {
        color: #0fabc6;
        font-size: 2.5rem;
        position: absolute;
        // color: #fff;
        z-index: 99;
        left: 20px;
        top: 20px;
    }
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
    .modal {
        .title {
            &::after {
                display: none;
            }
        }
    }
   
}