$spacing: "t" "top", "r" "right", "l" "left", "b" "bottom";

.m {
  &-0 {
    margin: 0;
  }
  &-1 {
    margin: 0.25rem;
  }
  &-2 {
    margin: 0.5rem;
  }
  &-3 {
    margin: 0.75rem;
  }
  &-4 {
    margin: 1rem;
  }
  &-5 {
    margin: 1.25rem;
  }
  &-6 {
    margin: 1.5rem;
  }
  &-7 {
    margin: 1.75rem;
  }
  &-8 {
    margin: 2rem;
  }
  &-9 {
    margin: 2.25rem;
  }
  &-10 {
    margin: 2.5rem;
  }
  &x {
    &-0 {
      margin-left: 0rem;
      margin-right: 0rem;
    }
    &-1 {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
    &-2 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    &-3 {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
    &-4 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-5 {
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
    &-6 {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    &-7 {
      margin-left: 1.75rem;
      margin-right: 1.75rem;
    }
    &-8 {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    &-9 {
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }
    &-10 {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
  }
  &y {
    &-0 {
      margin-top: 0;
      margin-bottom: 0;
    }
    &-1 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    &-2 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &-3 {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
    &-4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &-5 {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
    &-6 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    &-7 {
      margin-top: 1.75rem;
      margin-bottom: 1.75rem;
    }
    &-8 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-9 {
      margin-top: 2.25rem;
      margin-bottom: 2.25rem;
    }
    &-10 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
}
.p {
  &-0 {
    padding: 0rem;
  }
  &-1 {
    padding: 0.25rem;
  }
  &-2 {
    padding: 0.5rem;
  }
  &-3 {
    padding: 0.75rem;
  }
  &-4 {
    padding: 1rem;
  }
  &-5 {
    padding: 1.25rem;
  }
  &-6 {
    padding: 1.5rem;
  }
  &-7 {
    padding: 1.75rem;
  }
  &-8 {
    padding: 2rem;
  }
  &-9 {
    padding: 2.25rem;
  }
  &-10 {
    padding: 2.5rem;
  }
  &x {
    &-0 {
      padding-left: 0rem;
      padding-right: 0rem;
    }
    &-1 {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
    &-2 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    &-3 {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    &-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &-5 {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    &-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    &-7 {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }
    &-8 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &-9 {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
    &-10 {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  &y {
    &-0 {
      padding-top: 0;
      padding-bottom: 0;
    }
    &-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    &-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    &-3 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
    &-4 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &-5 {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }
    &-6 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    &-7 {
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
    }
    &-8 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &-9 {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
    }
    &-10 {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }
}
@each $i in $spacing {
  .m#{nth($i, 1)}-1 {
    margin-#{nth($i, 2)}: 0.25rem;
  }
  .p#{nth($i, 1)}-1 {
    padding-#{nth($i, 2)}: 0.25rem;
  }
  .m#{nth($i, 1)}-2 {
    margin-#{nth($i, 2)}: 0.5rem;
  }
  .p#{nth($i, 1)}-2 {
    padding-#{nth($i, 2)}: 0.5rem;
  }
  .m#{nth($i, 1)}-3 {
    margin-#{nth($i, 2)}: 0.75rem;
  }
  .p#{nth($i, 1)}-3 {
    padding-#{nth($i, 2)}: 0.75rem;
  }
  .m#{nth($i, 1)}-4 {
    margin-#{nth($i, 2)}: 1rem;
  }
  .p#{nth($i, 1)}-4 {
    padding-#{nth($i, 2)}: 1rem;
  }
  .m#{nth($i, 1)}-5 {
    margin-#{nth($i, 2)}: 1.25rem;
  }
  .p#{nth($i, 1)}-5 {
    padding-#{nth($i, 2)}: 1.25rem;
  }
  .m#{nth($i, 1)}-6 {
    margin-#{nth($i, 2)}: 1.5rem;
  }
  .p#{nth($i, 1)}-6 {
    padding-#{nth($i, 2)}: 1.5rem;
  }
  .m#{nth($i, 1)}-7 {
    margin-#{nth($i, 2)}: 1.75rem;
  }
  .p#{nth($i, 1)}-7 {
    padding-#{nth($i, 2)}: 1.75rem;
  }
  .m#{nth($i, 1)}-8 {
    margin-#{nth($i, 2)}: 2rem;
  }
  .p#{nth($i, 1)}-8 {
    padding-#{nth($i, 2)}: 2rem;
  }
  .m#{nth($i, 1)}-9 {
    margin-#{nth($i, 2)}: 2.25rem;
  }
  .p#{nth($i, 1)}-9 {
    padding-#{nth($i, 2)}: 2.25rem;
  }
  .m#{nth($i, 1)}-10 {
    margin-#{nth($i, 2)}: 2.5rem;
  }
  .p#{nth($i, 1)}-10 {
    padding-#{nth($i, 2)}: 2.5rem;
  }
}
