 .animationButton {
   text-align: left;
   position: absolute;
   top: 45%;
   left: -28px;
   justify-content: flex-end;
   display: flex;
   z-index: 99;
 }

 .pulseButton2 {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 60px;
   height: 60px;
   border: none;
   box-shadow: 0 0 0 0 rgba(48, 175, 94, 0.25);
   border-radius: 50%;
   background-color: rgba(48, 175, 94, 0.7);
   color: #fff;
   cursor: pointer;
   -webkit-animation: pulse 1.25s infinite cubic-bezier(0, -0.01, 0.92, 0.86);
   -moz-animation: pulse 1.25s infinite cubic-bezier(0, -0.01, 0.92, 0.86);
   -ms-animation: pulse 1.25s infinite cubic-bezier(0, -0.01, 0.92, 0.86);
   animation: pulse 1.25s infinite cubic-bezier(0, -0.01, 0.92, 0.86);

   .pulseButton {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     width: 50px;
     height: 50px;
     border: none;
     box-shadow: 0 0 0 0 rgba(48, 175, 94, 0.3);
     border-radius: 50%;
     background-color: #30af5e;
     color: #fff;
     cursor: pointer;
     -webkit-animation: pulse 1.25s infinite cubic-bezier(0.76, 0.6, 0.68, 0.16);
     -moz-animation: pulse 1.25s infinite cubic-bezier(0.76, 0.6, 0.68, 0.16);
     -ms-animation: pulse 1.25s infinite cubic-bezier(0.76, 0.6, 0.68, 0.16);
     animation: pulse 1.25s infinite cubic-bezier(0.76, 0.6, 0.68, 0.16);

     svg {
       font-size: 2.2rem;
     }
   }
 }

 @-webkit-keyframes pulse {
   to {
     box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
 }

 @-moz-keyframes pulse {
   to {
     box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
 }

 @-ms-keyframes pulse {
   to {
     box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
 }

 @keyframes pulse {
   to {
     box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
 }


 $breakpoint-mobile: 767px;

 @media (max-width: $breakpoint-mobile) {
   .animationButton {
     display: none;
   }
 }