.animationButton {
  text-align: left;
  position: absolute;
  top: 45%;
  left: -37px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pulseButton2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 75px;
  height: 75px;
  border: none;
  -webkit-box-shadow: 0 0 0 0 rgba(48, 175, 94, 0.25);
          box-shadow: 0 0 0 0 rgba(48, 175, 94, 0.25);
  border-radius: 50%;
  background-color: rgba(48, 175, 94, 0.7);
  color: #fff;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0, -0.01, 0.92, 0.86);
  animation: pulse 1.25s infinite cubic-bezier(0, -0.01, 0.92, 0.86);
}

.pulseButton2 .pulseButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  border: none;
  -webkit-box-shadow: 0 0 0 0 rgba(48, 175, 94, 0.3);
          box-shadow: 0 0 0 0 rgba(48, 175, 94, 0.3);
  border-radius: 50%;
  background-color: #30af5e;
  color: #fff;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.76, 0.6, 0.68, 0.16);
  animation: pulse 1.25s infinite cubic-bezier(0.76, 0.6, 0.68, 0.16);
}

.pulseButton2 .pulseButton svg {
  font-size: 2.2rem;
}

@-webkit-keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
            box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
            box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
  }
}
/*# sourceMappingURL=PulseAnimationButton.module.css.map */