
.map{
    position: relative;
    padding-top: 100%;
    .warrper{
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
        display: flex;
        align-items: center;
        &:before{
        content: "";
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        width: 100%;
        height: 100%;
        border: 2px solid red;
        margin: auto;
        border-radius: 50px;
        transform: rotate(-20deg);
        z-index: 2;
        }
        .images{
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;
        margin: auto;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        }
        .box{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 50px;
        overflow: hidden;
        transform: rotate(20deg);
        transform-origin: center center;
        z-index: 3;
        }
    }
}


.test{
    visibility: visible;
    .Map_test__30BK7.mapboxgl-map{
        border:1px solid blue;

    }
}