.map {
  position: relative;
  padding-top: 100%;
}

.map .warrper {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map .warrper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  margin: auto;
  border-radius: 50px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  z-index: 2;
}

.map .warrper .images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
  margin: auto;
  z-index: 1;
}

.map .warrper .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.map .warrper .box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  z-index: 3;
}
/*# sourceMappingURL=Map.module.css.map */