.supportRsp {
  display: none;
}

.headerContainer {
  z-index: 9;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;

  &.homeTheme {
    box-shadow: unset;
  }

  // overflow-x:hidden;
}

.redBg {
  background-color: red;
}

.scrollStyles {
  border: 1px solid red;
  background-color: white;
  color: #000;
}

.content {
  // overflow-x: hidden;
  position: relative;
  z-index: 0;
  width: 100%;
  // background: #f8f8f8;
  &.marginTop {
    padding-top: 95px;
  }

  &.homePage {
    padding-top: 0;
    box-shadow: unset;
  }
}

.footerContainer {
  width: 100%;
  // overflow-x: hidden;
}

$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet) {
  .supportRsp {
    display: flex;
    position: fixed;
    bottom: 200px;
    left: 0;
    background-color: #30af5e;
    color: #fff;
    padding: 10px 12px 10px 10px;
    border-radius: 100%;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.34);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 99;
    font-size: 1.4rem;
  }

  .headerContainer {
    position: relative;
    height: auto;
    background: #f8f8f8;
    padding: 0;
  }

  .content {
    &.marginTop {
      padding-top: 0px;
    }
  }

  // .footerContainer {

  //   padding-bottom: 76px;
  // }

}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {}