.headerContainer {
  z-index: 9;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
}

.headerContainer.homeTheme {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.content {
  position: relative;
  z-index: 0;
  width: 100%;
}

.content.marginTop {
  padding-top: 95px;
}

.content.homePage {
  padding-top: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
/*# sourceMappingURL=Layout.module.css.map */