.certificateBox {
    &:nth-child(2) {
        margin-top: -2rem;
    }
}
.certificateSteps {
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    &:hover {
        .image {
            background-color: #3080af;
        }
    }
    .imageBox {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        .image {
            display: flex;
            width: 85px;
            height: 85px;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
            padding: 15px;
            margin: 0 auto;

            img {
                max-height: 100%;
            }
        }
    }
    .title {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        span {
            color: #8a8a8a;
            font-size: 0.9rem;
        }
    }
}

$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .certificateBox {
        &:nth-child(2) {
            margin-top: 0;
        }
    }
}
